doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    if (typeof(title) !== 'undefined')
      title= title
    else
      title= name || 'badgeboard'
    meta(name='description', content=description || '')
    meta(name='keywords', content=keywords || '')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    style
      include:uglify-css style.css
  body
    .navbar.navbar-inverse(role='navigation')
      .navbar-header
        a.navbar-brand.logo(href='https://github.com/rlidwka') @rlidwka
        .navbar-brand.manifesto
          span my personal badgeboard (only active projects listed)

    block body
    footer
      //- please, don't remove this unless you have a good reason to
      | This web page was created using
      | #{' '}
      a(href='https://github.com/repo-utils/badgeboard') repo-utils/badgeboard
      | #{' '}
      | generator. You can use it to create a similar badgeboard for your
      | stuff.
